{% extends 'base.html' %}
{% block title %}Home|Panel Technologies{% endblock title %}
{% block body %}
{% load static %}
<link rel="stylesheet" tyye="text/css" href="{% static 'home.css' %}"/>
<body style="background-image: url('{% static "Rect Light.svg"%}')";>
<div class="fluid" style="margin-top: 70px;">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner" >
        <div  class="carousel-item active"> 
          <img src="static\about.png" >
        </div> 
        <div class="carousel-item">
          <img src="static\image.png" >
        </div>
        <div class="carousel-item">
          <img src="static\image (1).png" >
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    </div>

    <div class="mx-4 my-4 px-4 py-4">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for pros in pros %}
            <div class="col">
              <div class="card shadow-sm">
                <img class="common-width" src="{{pros.img.url}}" alt="" >
                <div class="card-body">
                  <p class="card-text"></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group" >
                      <a href="{{pros.desc}}">
                        
                      <button type="button" class="btn btn-sm btn-outline-secondary " style="margin-right:8px">{{pros.name}}</button>
                    </a>
                    
                    <a href="contact">     
                    <button type="button" class="btn btn-sm btn-outline-secondary" >Order</button>
                    </a>

                    </div>
         
                    <small class="text-muted"><h6>Catagories:<br>{{pros.catagory}}</h3></small>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
{% endblock body %}